@import (less) 'global/helpers.less';
@import (less) 'global/colors.less';

.input-field input[type=email]:focus {
  border-bottom: 1px solid @color-light-blue;
  box-shadow: 0 1px 0 0 @color-light-blue;
}
.input-field input[type=password]:focus {
  border-bottom: 1px solid @color-light-blue;
  box-shadow: 0 1px 0 0 @color-light-blue;
}
.input-field input[type=email]:focus + label {
  color: @color-light-blue;
}
.input-field input[type=password]:focus + label {
  color: @color-light-blue;
}
